// Global
@import "global/fonts";
@import "global/normalize";
@import "global/general";
@import "global/scaffolding";
// Components
@import "components/header";
@import "components/left-column";
@import "components/main-view";
@import "components/news";
@import "components/footer";

main.main {
	& .container {
		display: flex;
		justify-content: space-between;
		@media (max-width: $tablet) {
      flex-direction: column;
    }
	}
}

// общие стили
a:hover {
	transition: 0.3s;
	text-decoration: underline;
}

.btn {
	display: inline-block;
	margin-top: 15px;
	border: 1px solid #1c96ce;
	padding: 10px 38px;
	font-size: 16px;
	line-height: 20px;
	transition: 0.3s;
	cursor: pointer;
	@media (max-width: $mobile) {
		font-size: 13px;
	}
}