.news {
  background-color: #eeeeee;
  padding-top: 31px;
  padding-bottom: 40px;
  overflow: hidden;
}

.news-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 4%;
  @media (max-width: $tablet) {
    padding: 0;
    overflow-x: scroll;
  }
  &__item {
    width: 221px;
    color: #000000;
    font-family: "Vida 31 Pro";
    font-size: 14px;
    @media (max-width: $tablet) {
      margin-right: 78px;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: $mobile) {
      margin: 0 27px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    &-date {
      margin-right: 7px;
      opacity: 0.4;
      line-height: 20px;
    }
    &-type {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 12px;
      padding: 2px 5px;
      border-radius: 2px;
      background-color: #ffffff;
      color: #000000;
      font-family: "Vida 31 Pro";
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
      &--action {
        position: relative;
        padding: 3px 14px;
        background-color: #c5e71b;
        color: #000000;
        font-family: "Vida 33 Pro";
        font-weight: 400;
        &::before {
          position: absolute;
          top: -4px;
          left: -7px;
          content: "";
          border: 15px solid transparent;
          border-top: 13px solid #eee;
          transform: rotate(-90deg);
        }
        &::after {
          position: absolute;
          top: -4px;
          right: -7px;
          content: "";
          border: 15px solid transparent;
          border-top: 13px solid #eee;
          transform: rotate(90deg);
        }
      }
    }
    &-text {
      line-height: 18px;
    }
  }
}